<receita-header> </receita-header>

<article class="card">
    <div class="container">
        <div class="card-content">
          <div class="card-title">
            <h2>
              Lasanha
            </h2>
          </div>
          <div class="card-description">
            <p> Receita de uma lasanha ao forno simples</p>
          </div>
          <div class="card-footer">
            <span>Criado por: <span class="card-footer-author">Andrey Resende.</span> </span>
          </div>
        </div>

        <div class="card-content">
          <div class="card-title">
            <h2>
              Lasanha
            </h2>
          </div>
          <div class="card-description">
            <p> Receita de uma lasanha ao forno simples</p>
          </div>
          <div class="card-footer">
            <span>Criado por: <span class="card-footer-author">Andrey Resende.</span> </span>
          </div>
        </div>

        <div class="card-content">
          <div class="card-title">
            <h2>
              Lasanha
            </h2>
          </div>
          <div class="card-description">
            <p> Receita de uma lasanha ao forno simples</p>
          </div>
          <div class="card-footer">
            <span>Criado por: <span class="card-footer-author">Andrey Resende.</span> </span>
          </div>
        </div>
    </div>
</article>

<receita-footer></receita-footer>
