<receita-header></receita-header>

<section class="recipe">
  <div class="container">
    <div class="recipe-details">
      <div class="recipe-details-title">
         <h1>Frango Frito</h1>
         <div class="recipe-details-div">
           <div class="recipe-details-author"> <i class="material-icons">face</i> Autor <span>Andrey Resende</span> </div>
           <div class="recipe-details-time"><i class="material-icons">timer </i> Preparo <span> 45 Minutos</span> </div>
           <div class="recipe-details-yield"> <i class="material-icons">local_dining </i> Rendimento <span>Até 03 pessoas</span> </div>
           <div class="recipe-details-type"> <i class="material-icons">visibility </i> Tipo <span>Aves</span> </div>
         </div>
      </div>
      <div class="recipe-details-ingredients">
        <h2> <i class="material-icons">free_breakfast </i>  Ingredientes</h2>
        <p>
          01 frango picado, 500g de farinha de trigo, 03 ovos batidos, 1 lata de oleo de soja, tempero a gosto
        </p>
      </div>
    <div class="recipe-details-preparing">
      <h2>  <i class="material-icons">palette </i> Modo de Preparo</h2>
      <p>
        Colocar o frango na farinha, ovo e depois fritar no oleo
      </p>
    </div>
  </div>
  </div>
</section>

<receita-footer></receita-footer>
