<nav>
    <header class="navbar">
      <div class="container navbar-container">
        <div class="navbar-logo">
          <h1> AngularFood</h1>
        </div>
        <div class="navbar-search">
          <input type="text" class="navbar-search-input" placeholder="Procure por uma receita" >
          <i class="material-icons"> search</i>
        </div>
        <div class="navbar-addrecipe">
          <button  class="addrecipe-button"> <i class="material-icons">add</i>nova receita</button>
        </div>
      </div>
    </header>
    <div class="navbar-options">
      <ul class="container">
            <li class="navbar-options-item">Carnes</li>
            <li class="navbar-options-item">Bolos e tortas</li>
            <li class="navbar-options-item"> Aves</li>
            <li class="navbar-options-item">Massas</li>
            <li class="navbar-options-item">Sobremesa</li>
            <li class="navbar-options-item">Sopas</li>
            <li class="navbar-options-item">Saladas e molhos</li>
            <li class="navbar-options-item">Saudável</li>
            <li class="navbar-options-item">Lanches</li>
            <li class="navbar-options-item">Bebidas</li>
            <li class="navbar-options-item">Frutos do Mar</li>
     </ul>
  </div>
</nav>
