<footer class="footer">
  <div class="container">
    <div class="footer-content"> <p> Projeto para apresentar conhecimento em Angular + NodeJS. </p> </div>
    <div class="footer-author">
      <div class="footer-author-image">
        <img src="https://scontent.fplu17-1.fna.fbcdn.net/v/t1.0-9/22852172_1478289078920095_5531284801511046733_n.jpg?_nc_cat=108&_nc_sid=85a577&_nc_ohc=3HFiwTTWgU4AX80Dh1T&_nc_ht=scontent.fplu17-1.fna&oh=5624cb42b578afbf8a8b158dde1bd58c&oe=5EDD891B" alt="Andrey Resende">
      <h3>Andrey Resende</h3>
      </div>

      <div class="footer-author-social">
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-github"></i>
      </div>
    </div>
  </div>

</footer>
