<receita-header></receita-header>
<section class="recipe">
  <div class="container">
    <div class="recipe-details">
      <div class="recipe-details-title">
         <h1>Titulo da Receita</h1>
         <input type="text" placeholder=" Ex.. Frango Frito">
         <div class="recipe-details-div">
           <div class="recipe-details-author"> <i class="material-icons">face</i> Autor <input type="text" placeholder="Ex..  Andrey Resende"> </div>
           <div class="recipe-details-time"><i class="material-icons">timer </i> Preparo <input type="text" placeholder="Ex.. 45 Minutos"> </div>
           <div class="recipe-details-yield"> <i class="material-icons">local_dining </i> Rendimento <input type="text" placeholder="Ex.. 10 pessoas"> </div>
           <div class="recipe-details-type"> <i class="material-icons">visibility </i> Tipo<input type="text" placeholder=" Ex.. Aves"></div>
         </div>
      </div>
      <div class="recipe-details-ingredients">
        <h2> <i class="material-icons">free_breakfast </i>  Ingredientes</h2>
        <textarea  cols="107" rows="10" placeholder="Ex.. 01 frango picado, 500g de farinha de trigo, 03 ovos batidos, 1 lata de oleo de soja, tempero a gosto"></textarea>

      </div>
    <div class="recipe-details-preparing">
      <h2>  <i class="material-icons">palette </i> Modo de Preparo</h2>
      <textarea  cols="107" rows="10" placeholder="Ex.. Colocar o frango na farinha, ovo e depois fritar no oleo"></textarea>
    </div>
  </div>
  <div class="button-actions">
    <div class="button-edit">
      <button> Salvar</button>
    </div>
    <div class="button-cancel">
      <button>Cancelar</button>
    </div>
  </div>
  </div>
</section>
<receita-footer></receita-footer>
